{% block help %}
<div class="alert alert-primary" role="alert">
  <h4>How to pay taxes?</h4><br>
  1. Search for: <u>{{ tax_corp }}</u> <i>(DEBUG: This should say "Invidia Administrative" - if not tell "Nah Vi" in Discord)</i><br>
  2. Right click and select <u>"Give Money"</u><br>
  3. Copy the "Amount to pay in Isk" for the current Month and paste it into amount<br>
  4. Copy the "Reason" into the corresponding field<br>
  4a. It only shows a reason for the last month, starting at the 2nd of the current month to avoid outdated payments.
</div>
{% endblock %}