{% load i18n %}

{% block help %}
<div class="alert alert-primary" role="alert">
    <h4>{% translate "How to pay taxes?" %}</h4>

    {% blocktranslate %}1. Search for: <u>{{ tax_corp }}</u>{% endblocktranslate %}
    {% if tax_corp %}
        <button type="button"
                class="btn btn-link btn-sm p-0 ms-1 align-baseline eos-tax-copy"
                data-clipboard-text="{{ tax_corp }}"
                title="{% translate 'Copy corporation name to clipboard' %}"
                aria-label="{% translate 'Copy corporation name to clipboard' %}">
            <i class="fa-regular fa-copy" aria-hidden="true"></i>
        </button>
    {% endif %}<br>
    {% blocktranslate %}2. Right click and select <u>"Give Money"</u>{% endblocktranslate %}<br>
    {% blocktranslate %}3. Copy the "Amount to pay in ISK" for the last month and paste it into amount{% endblocktranslate %}<br>
    {% blocktranslate %}4. Copy the "Reason" into the corresponding field{% endblocktranslate %}<br>
    {% blocktranslate %}4a. A reason is only shown for the last month, starting on the 2nd of the current month, to avoid outdated payments.{% endblocktranslate %}
</div>
{% endblock %}
