{% extends "eos_tax/base.html" %}
{% load i18n %}

{% block details %}

    <div class="card mb-3">
        <div class="card-header">
            <div class="card-title mb-0">{{ title }}</div>
        </div>

        <div class="card-body">
            {% if website_data %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">{% translate "Corporation" %}</th>
                                <th scope="col">{% translate "Ingame Corp Tax" %}</th>
                                <th scope="col">{% translate "Amount to pay in Isk" %}</th>
                                <th scope="col">{% translate "Month" %}</th>
                                <th scope="col">{% translate "Reason" %}</th>
                                <th scope="col">{% translate "Payed" %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for data in website_data %}
                                <tr>
                                    <th scope="row">{{ data.corporation_name }}</th>
                                    <td>{{ data.corp_tax_rate }}%</td>
                                    <td>{{ data.isk_to_pay }}</td>
                                    <td>{{ data.month }}/{{ data.year }}</td>
                                    <td>{{ data.reason }}</td>
                                    <td>
                                        {% if data.payed %}
                                            <i class="fa-solid fa-check text-success"></i>
                                            <span class="visually-hidden">{% translate "Payed" %}</span>
                                        {% else %}
                                            <i class="fa-solid fa-xmark text-danger"></i>
                                            <span class="visually-hidden">{% translate "Not payed" %}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning text-center">
                    {% translate "No tax data for the selected months." %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
